.formBox{
    position: relative;
    top: 50px;
    left: 120px;
    width: 1200px;
    height: 1250px;
    background-color: white;
}

h3{
    position: absolute;
    left: 355px;
}

h4{
    position: absolute;
    left: 535px;
    top: 20px;
}

.questions{
position: absolute;
font-size: 18px;
top: 140px;
left: 30px;
}

#Qheading{
    font-size: 23px;
}

.TFAnswers{
    position: absolute;
    left: 850px;
    bottom: 0.5px;
}

#submit{
    position: relative;
    top: 1050px;
    left: 500px;
    width: 120px;
    height: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px 4px rgb(199, 199, 199);
}